# 项目背景

该项目是Wisup AI Ltd的 Rescience Lab产品的一部分

- 产品定位：在线（远程虚拟电脑）实验（以计算科学相关领域为主）平台（包含完整科学实验相关的功能）
- 产品目标用户：用户计算机与其他学科交叉领域的实验人员为主，例如生物信息，医学信息，地理信息，金融量化，物理计算，化学计算等学科领域（甚至一些人文社科类）的本科生、研究生、博士生等。该群体的研究以其专业领域为主，计算机为辅，需要在研究中使用计算机进行编程，例如使用R语言、python、matlab、C，但该群体的编程基础较薄弱，甚至连实验环境都难以配置，因此会在基础环境配置和代码运行层面耗费大量时间。且该类学科的研究不依赖于线下实验室，以计算机为主要实验环境进行计算、训练、模拟、仿真、统计等，灵活性高，可远程。
- 产品要解决的问题：
    - 计算科学交叉专业科研人员编程能力匮乏：
        - 随着计算科学与其他传统学科的深度融合，现在几乎所有大学专业都在不同程度上依赖于计算机进行实验、分析。        
        - 但是大部分非纯计算机专业的学生、老师以及研究人员，对计算机及其程序语言的使用能力缺乏。例如某社科类的研究人员，会将编程的部分外包或者找计算机专业的学生来实现，其自主实现能力弱，难以精准把控计算实验过程，这限制了他们的专业知识在计算机环境下的发挥。
    - 计算实验的难以复现：
        - 由于计算资源（GPU型号, 运行内存等）、系统依赖（具体使用什么系统）、编程框架、综合工具版本、插件缺失、随机数控制、文档完整性、路径完整性、数据公开性等问题，导致大量的paper的代码无法用来进行可以成果的复现。而**复现性既是检验科研成果真实性的重要标准，又是科研创新的开端**。没有统一的计算实验复现标准，会极大的阻碍科研创新、传播以及向商业成果的转化。
- 产品的创新性
    - 系统级AI Agent代替科研人员实现实验流程规划、编程、执行、日志记录的完整实验过程。
    - 开源一种**计算实验可复现协议(CRESP: Computational Research Environment Standardization Protocol)**，该协议从计算资源、系统依赖…到数据等各个角度描述一个计算实验，确保依照这个标准，能够完全描述一个实验的完整依赖和过程，解决计算实验复现难的问题。

# 当前项目为CRESP协议的说明文档

- CRESP协议采用toml格式
- CRESP协议兼容pyproject.toml，可以通过指向pyproject.toml文件的路径来描述python项目的环境
- 通过模仿pyproject.toml的结构，我们需要为matlab实验、R语言实验增添对应的matproject.toml、rproject.toml文件，来描述matlab项目、R语言项目的环境

# 如何推送项目

## git commit
使用git-commit-plugin插件的格式，使用英文

## Change Log

每一次提交的时候，需要更新Change Log，使用英文